@media (min-width: 35em) {
  .slide-container {
    position: relative;
    height: 55rem;
    .default-nav {
      display: none !important;
    }

    & > nav {
      position: absolute;
      top: 5rem;
      width: 100%;
      left: 0;
      z-index: 99;

      & > div {
        div {
          & > div:nth-of-type(2) {
            & > a {
              color: white;
            }
          }
        }
      }
    }
    .nav-top-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      padding-block: 1.6rem;
      border-bottom: solid .1rem #ccc;

      .container {
        .contactdetails {
          color: white;
        }

        .social-media-icons {
          a {
            color: white;
          }
        }
      }
    }
  }

  .hero {
    height: 30rem;
    width: 100%;
  }

  .slide-container:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
  }

  .search-box {
    position: absolute;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    text-align: center;

    span {
      color: white;
      display: block;
      margin-bottom: 1.6rem;
    }

    input {
      width: 50rem;
    }
  }
}

@media (max-width: 35em) {
  .slide-container {
    position: relative;
    height: 35rem;
    .default-nav {
      display: none !important;
    }
  }

  .hero {
    height: 30rem;
    width: 100%;
  }

  .slide-container:after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
  }

  .search-box {
    position: absolute;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    text-align: center;

    span {
      color: white;
      display: block;
      margin-bottom: 1.6rem;
    }

    input {
      width: 50rem;
    }
  }
}
