.ourservices {
  padding-block: 5rem;
  position: relative;
  overflow: hidden;

  & > h1 {
    text-align: center;

    margin-bottom: 2.8rem;

    letter-spacing: -0.2rem;
    color: $dark;
    text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }

  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, $light, white);
    opacity: 0.8;
    inset: 0;
    transform: rotateZ(40deg);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .serv-card {
    text-align: center;
    padding: 3rem;
    & > div {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      border: solid 1rem white;
      box-shadow: 1rem 0 2rem rgba(0, 0, 0, 0.5);
    }

    & > h4 {
      text-align: center;
      font-weight: bold;
      margin-top: 2rem;
      font-size: 1.6rem;
      background-color: white;
      padding: 1rem;
      border-bottom: solid 0.2rem $medium;
      border-right: solid 1rem $medium;
      color: $dark;
    }
  }
}
