.section-card {
  padding-inline: 5.6rem;
  padding-top: 5rem;
  padding-bottom: 6rem;

  h3 {
    font-size: 1.6rem;
    color: $dark;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
  }

  & > div {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    justify-content: center;
    & > div {
      flex-basis: 21rem;
      flex-grow: 0;
    }
  }
}
