@media (min-width: 35em) {
  .sesrchthumbswrapper {
    position: relative;
    z-index: 99;

    .servicesthumbs {
      background-color: $light;
      padding-block: 3.2rem;
      display: flex;
      gap: 3.2rem;
      align-items: center;
      justify-content: center;
      padding-inline: 5rem;
      font-size: 1rem;

      & > div:nth-of-type(2) {
        flex-basis: 5rem;
        flex-grow: 0;
        input {
          width: 30rem;
        }
      }

      & > div:nth-of-type(3) {
        flex-basis: 5rem;
        flex-grow: 0;
      }

      .services {
        flex-basis: 32rem;
        flex-grow: 0;
        display: flex;
        gap: 0.8rem;
        & > a {
          text-align: center;
          background-color: white;
          border-radius: 0.5rem;
          padding: 0.8rem;
          display: block;
          flex-basis: 6rem;
          & > div:nth-of-type(1) {
            height: 3rem;
          }
          & > div:nth-of-type(2) {
            line-height: 0.8rem;
            margin-top: 0.3rem;
            font-size: 1rem;
          }
        }
      }

      .hamburger {
        img {
          padding: 1rem;
          background-color: white;
          border-radius: 50%;
          cursor: pointer;
        }

        &:hover > div {
          display: block;
        }

        .categories {
          background: white;
          box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.2);
          width: 20rem;
          height: 30rem;
          right: 5rem;
          top: 7rem;
          position: absolute;
          border-radius: 1rem;
          display: none;
          overflow-y: scroll;
          border: solid 2rem white;
          a {
            display: block;
            border-bottom: 0.1rem solid #ccc;
            padding-block: 0.4rem;
            font-size: 1.6rem;
            color: $dark;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 35em) {
  .sesrchthumbswrapper {
    position: relative;
    z-index: 9999;

    .servicesthumbs {
      background-color: $light;
      padding-block: 3.2rem;
      padding-inline: 2rem;
      font-size: 1rem;

      & > div:nth-of-type(2) {
        input {
          width: 33rem;
          margin-block: 2.4rem;
        }

        label {
          position: absolute;
          top: 2.8rem;
          right: 1rem;
          cursor: pointer;
          background-color: $dark;
          color: white;
          padding: 0.8rem;
          border-radius: 2rem;
        }
      }

      .services {
        flex-basis: 32rem;
        flex-grow: 0;
        display: flex;
        gap: 0.8rem;
        & > a {
          text-align: center;
          background-color: white;
          border-radius: 0.5rem;
          padding: 0.8rem;
          display: block;
          flex-basis: 6rem;
          & > div:nth-of-type(1) {
            height: 3rem;
          }
          & > div:nth-of-type(2) {
            line-height: 0.8rem;
            margin-top: 0.3rem;
            font-size: 1rem;
          }
        }
      }

      .hamburger {
        position: relative;
        img {
          padding: 1rem;
          background-color: white;
          border-radius: 50%;
          cursor: pointer;
        }

        &:hover > div {
          display: block;
        }

        .categories {
          background: white;
          box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.2);
          width: 20rem;
          height: 30rem;
          left: 1rem;
          top: 4rem;
          position: absolute;
          border-radius: 1rem;
          display: none;
          overflow-y: scroll;
          border: solid 2rem white;
          a {
            display: block;
            border-bottom: 0.1rem solid #ccc;
            padding-block: 0.4rem;
            font-size: 1.6rem;
            color: $dark;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
