.ultitle {
  width: 6rem;
  border: solid 0.2rem #f27e4b;
  margin-inline: auto;
}

@media (min-width: 35em) {
  .container {
    margin-inline: 5.6rem;
  }

  .propertiesforsale {
    background: linear-gradient(to bottom, $light, white);
  }

  .default-nav {
    height: 1.3rem !important;
    width: 1.3rem !important;
    margin: 2rem !important;
    background-color: white !important;
  }

  .slidecard {
    .react-slideshow-wrapper {
      width: 28rem !important;
      height: 20rem;
    }

    .scard {
      background-color: white;
      padding: 1.6rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

      .sharebtns {
        strong {
          font-size: 1.2rem;
        }

        & > div {
          & > div {
            display: flex;

            & > div:nth-of-type(1) {
              flex-basis: 10rem;
              flex-grow: 1;
            }
            & > div:nth-of-type(2) {
              flex-basis: 2rem;
              flex-grow: 1;
              display: flex;
              gap: 0.4rem;
              justify-content: flex-end;
              align-items: center;
            }
          }
        }
      }

      & > .prod-details {
        box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.5) inset;
        &:hover {
          h4 {
            color: #ff7a30 !important;
          }
        }

        & > .propbox {
          & > h4 {
            font-size: 2rem;
            padding-block: 1.6rem;
          }

          color: #666;
          & > div:nth-of-type(1) {
            display: flex;
            gap: 1.2rem;
            flex-wrap: wrap;
            .fa-map-marker {
              font-size: 2.4rem;
            }
          }
          & > div:nth-of-type(2) {
            display: flex;
            flex-wrap: wrap;
            margin-block: 2.4rem;
            & > div:nth-of-type(1) {
              flex-basis: 40%;
              flex-grow: 0;
            }
            & > div:nth-of-type(2) {
              flex-basis: 20%;
              flex-grow: 0;
            }
            & > div:nth-of-type(3) {
              flex-basis: 20%;
              flex-grow: 0;
            }
            & > div:nth-of-type(4) {
              flex-basis: 20%;
              flex-grow: 0;
            }
            .fa {
              font-size: 2.4rem;
            }
          }
          & > div:nth-of-type(3) {
            display: flex;
            flex-wrap: wrap;
            & > span {
              flex: 5rem 1 1;
            }
            & > span:nth-of-type(1) {
              font-size: 1.5rem;
            }
            & > span:nth-of-type(2) {
              flex: 5rem 1 1;
            }
          }
        }
      }
    }
  }

  .each-slide-effect {
    box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.3) inset;
  }

  .form {
    button {
      background-color: $dark;
      color: white;
      padding: 1rem;
      display: block;
      width: 27.4rem;
      margin-top: 1rem;
      border-radius: 1.2rem;
      cursor: pointer;
    }

    h4 {
      margin-bottom: 3.2rem;
      border-bottom: 0.1rem solid $dark;
      padding-bottom: 0.8rem;
      color: $dark;
      text-align: center;
    }
  }

  .form-control {
    position: relative;

    input {
      padding: 1.2rem;
      outline: none;
      border: solid 0.1rem #888;
      border-radius: 0.5rem;
      width: 25rem;
    }

    select {
      padding: 1.2rem;
      outline: none;
      border: solid 0.1rem #888;
      border-radius: 0.5rem;
      width: 27rem;
    }

    textarea {
      padding: 1.2rem;
      outline: none;
      border: solid 0.1rem #888;
      border-radius: 0.5rem;
      width: 25rem;
    }
    margin-bottom: 2.4rem;

    label {
      position: absolute;
      top: 0.8rem;
      left: 1rem;
      font-size: 1.4rem;
      color: #666;
      transition: 0.3s;
      pointer-events: none;
    }

    input:focus + label {
      top: -2rem;
      font-size: 1rem;
      color: #000;
    }

    input:not(:placeholder-shown) + label {
      top: -2rem;
      font-size: 1rem;
      color: #000;
    }
  }
}

@media (max-width: 35em) {
  .propertiesforsale {
    background: linear-gradient(to bottom, $light, white);
  }

  .default-nav {
    height: 1.3rem !important;
    width: 1.3rem !important;
    margin: 2rem !important;
    background-color: white !important;
  }

  .slidecard {
    .react-slideshow-wrapper {
      width: 28rem !important;
      height: 20rem;
    }

    .scard {
      background-color: white;
      padding: 1.6rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

      & > a {
        box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.5) inset;
      }

      & > div:nth-of-type(1) {
        .prop-box {
          color: #666;

          & > h4 {
            font-size: 2rem;
            padding-block: 1.6rem;
          }

          & > div:nth-of-type(1) {
            display: flex;
            gap: 1.2rem;
            flex-wrap: wrap;
            .fa-map-marker {
              font-size: 2.4rem;
            }
          }
          & > div:nth-of-type(2) {
            display: flex;
            flex-wrap: wrap;
            margin-block: 2.4rem;
            & > div:nth-of-type(1) {
              flex-basis: 40%;
              flex-grow: 0;
            }
            & > div:nth-of-type(2) {
              flex-basis: 20%;
              flex-grow: 0;
            }
            & > div:nth-of-type(3) {
              flex-basis: 20%;
              flex-grow: 0;
            }
            & > div:nth-of-type(4) {
              flex-basis: 20%;
              flex-grow: 0;
            }
            .fa {
              font-size: 2.4rem;
            }
          }
          & > div:nth-of-type(3) {
            display: flex;
            flex-wrap: wrap;
            & > span {
              flex: 5rem 1 1;
            }
            & > span:nth-of-type(1) {
              font-size: 1.5rem;
            }
            & > span:nth-of-type(2) {
              flex: 5rem 1 1;
            }
          }
        }
      }
    }
  }

  .each-slide-effect {
    box-shadow: 0.6rem 0.6rem 1.2rem rgba(0, 0, 0, 0.3) inset;
  }

  .form {
    button {
      background-color: $dark;
      color: white;
      padding: 1rem;
      display: block;
      width: 27.4rem;
      margin-top: 1rem;
      border-radius: 1.2rem;
      cursor: pointer;
    }

    h4 {
      margin-bottom: 3.2rem;
      border-bottom: 0.1rem solid $dark;
      padding-bottom: 0.8rem;
      color: $dark;
      text-align: center;
    }
  }

  .form-control {
    position: relative;

    input {
      padding: 1.2rem;
      outline: none;
      border: solid 0.1rem #888;
      border-radius: 0.5rem;
      width: 25rem;
    }

    select {
      padding: 1.2rem;
      outline: none;
      border: solid 0.1rem #888;
      border-radius: 0.5rem;
      width: 27rem;
    }

    textarea {
      padding: 1.2rem;
      outline: none;
      border: solid 0.1rem #888;
      border-radius: 0.5rem;
      width: 25rem;
    }
    margin-bottom: 2.4rem;

    label {
      position: absolute;
      top: 0.8rem;
      left: 1rem;
      font-size: 1.4rem;
      color: #666;
      transition: 0.3s;
      pointer-events: none;
    }

    input:focus + label {
      top: -2rem;
      font-size: 1rem;
      color: #000;
    }

    input:not(:placeholder-shown) + label {
      top: -2rem;
      font-size: 1rem;
      color: #000;
    }
  }
}
