.container {
  display: flex;
  margin-inline: 5rem;
}

.propertiesforsale {
  background: linear-gradient(to bottom, $light, white);
}

.default-nav {
  height: 1.3rem !important;
  width: 1.3rem !important;
  margin: 2rem !important;
  background-color: white !important;
}

.slidecard {
  .react-slideshow-wrapper {
    width: 23rem !important;
    height: 10rem;
  }

  .scard {
    background-color: white;
    padding: 1.6rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

    & > div:nth-of-type(2) {
      & > a:hover {
        text-decoration: underline;
      }
      h6 {
        color: $dark;
        font-weight: 900;
        margin-top: 1rem;
      }
    }
  }
}

.form {
  button {
    background-color: $dark;
    color: white;
    padding: 1.6rem;
    display: block;
    width: 27.4rem;
    margin-top: -1rem;
    border-radius: 1.2rem;
    cursor: pointer;
  }

  h4 {
    margin-bottom: 3.2rem;
    border-bottom: 0.1rem solid $dark;
    padding-bottom: 0.8rem;
    color: $dark;
    text-align: center;
  }
}

.form-control {
  position: relative;

  input {
    padding: 1.2rem;
    outline: none;
    border: solid 0.1rem #888;
    border-radius: 0.5rem;
    width: 25rem;

  }

  textarea {
    padding: 1.2rem;
    outline: none;
    border: solid 0.1rem #888;
    border-radius: 0.5rem;
    width: 25rem;
  }
  margin-bottom: 2.4rem;

  label {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    font-size: 1.4rem;
    color: #666;
    transition: .3s;
    pointer-events: none;
  }

  input:focus + label{
    top: -2rem; 
    font-size: 1rem;
    color: #000;
  }

  input:not(:placeholder-shown) + label{
    top: -2rem; 
    font-size: 1rem;
    color: #000;
  }




}
